.item-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 12px;
  background-color: rgba(189, 255, 36, 0.36);
  border-radius: 25px;
  min-width: 100vh;
  min-height: 90vh;
}


