<app-page-template>

  <body>
  <div class="page-container">
    <div class="scroll parchment">
      <div class="content">
        <h1 class="title">Conditions d'Utilisation</h1>
        <p class="intro">Bienvenue sur <strong>PR0JET INF1</strong>!</p>
        <p>Ces conditions définissent les règles d'utilisation du site <a href="#">PR0JET INF1</a>.</p>
        <p>En accédant à ce site, vous acceptez ces conditions. Si vous n'êtes pas d'accord, veuillez ne pas
          continuer.</p>

        <h2>Cookies</h2>
        <p>Nous utilisons des cookies pour améliorer votre expérience. En utilisant notre site, vous acceptez notre
          politique de cookies.</p>

        <h2>Licence</h2>
        <p>Sauf mention contraire, PR0JET INF1 détient les droits de propriété intellectuelle.</p>
        <h3>Vous ne devez pas :</h3>
        <ul>
          <li>Republier du contenu de PR0JET INF1</li>
          <li>Vendre, louer ou sous-licencier du contenu</li>
          <li>Copier ou redistribuer du contenu</li>
        </ul>

        <h2>Contenu Généré par les Utilisateurs</h2>
        <p>Les avis et commentaires laissés par les utilisateurs n'engagent que leurs auteurs.</p>

        <h2>Réserve de Droits</h2>
        <p>Nous nous réservons le droit de demander la suppression de liens vers notre site.</p>

        <h2>Suppression de Contenu</h2>
        <p>Si un contenu vous semble inapproprié, contactez-nous.</p>
      </div>
    </div>
  </div>
  </body>
</app-page-template>
