.effect-neutral {
  color: #fff4f4;
}

.effect-earth {
  color: #b39d8b;
}

.effect-fire {
  color: #ff6a00;
}

.effect-water {
  color: #7272df;
}

.effect-air {
  color: lightgreen;
}


.effect-text {
  padding: 5px;
  z-index: 1;
  opacity: 1;
}

.effect-background {
  flex:1;
  margin-bottom: 10px;
  z-index: 0;
  border-radius: 10px;
}
