<app-page-template>
  <body>
  <div class="page-container">
    <div class="scroll parchment">
      <div class="content">
        <h1 class="title">Politique de Confidentialité</h1>
        <p class="intro">Votre vie privée est importante pour nous.</p>
        <p>
          Bienvenue sur la page de Politique de Confidentialité de <strong>PR0JET INF1</strong> ! Nous nous engageons à protéger vos données personnelles.
        </p>

        <h2>Informations Collectées</h2>
        <p>
          Lorsque vous visitez notre site, nous collectons certaines informations comme votre adresse IP, le type de navigateur et les pages visitées. Ces informations nous aident à améliorer nos services.
        </p>

        <h2>Utilisation des Informations</h2>
        <ul>
          <li>Améliorer la fonctionnalité du site</li>
          <li>Analyser le comportement des utilisateurs</li>
          <li>Offrir du contenu personnalisé</li>
          <li>Optimiser notre service client</li>
        </ul>

        <h2>Consentement</h2>
        <p>
          En utilisant notre site, vous acceptez notre Politique de Confidentialité et ses termes.
        </p>
        <p>
          Pour toute question, contactez-nous à <a href="mailto:info@projetinf1.com">info&#64;projetinf1.com</a>.
        </p>
      </div>
    </div>
  </div>
  </body>
</app-page-template>
