<app-page-template>
  <div class="container py-5">
    <div class="card shadow-lg border-0">
      <div class="card-body">
        <h1 class="display-4 text-primary text-center mb-4">Politique de Confidentialité</h1>
        <p class="lead text-center">Your privacy is important to us.</p>
        <p>
          Welcome to PROJET INF1's Privacy Policy page! We are committed to protecting your personal information and
          your right to privacy.
        </p>
        <h2 class="h4 text-secondary border-bottom pb-2 mt-5">Information We Collect</h2>
        <p>
          When you visit our website, we may collect certain information such as your IP address, browser type, and the
          pages you accessed. This information is used to improve our services and ensure a better user experience.
        </p>
        <h2 class="h4 text-secondary border-bottom pb-2 mt-5">Use of Information</h2>
        <p>
          The information we collect is used to:
        </p>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item">Enhance our website's functionality</li>
          <li class="list-group-item">Understand user behavior and preferences</li>
          <li class="list-group-item">Provide personalized content</li>
          <li class="list-group-item">Improve our customer service</li>
        </ul>
        <h2 class="h4 text-secondary border-bottom pb-2 mt-5">Your Consent</h2>
        <p>
          By using our website, you hereby consent to our Privacy Policy and agree to its terms.
        </p>
        <p>
          If you have additional questions or require more information about our Privacy Policy, do not hesitate to
          contact us at <a href="mailto:info@projetinf1.com">info&#64;projetinf1.com</a>.
        </p>
      </div>
    </div>
  </div>
</app-page-template>
