.neutral-damage {
    color: #b3b3b3;
}

.pa {
    color: #ffd700;
}

.water-steal {
    color: #00ccff;
}

.earth-steal {
    color: #d87341;
}

.air-steal {
    color: #00ffff;
}

.fire-steal {
    color: #ff6347;
}

.neutral-steal {
    color: #b3b3b3;
}

.water-damage {
    color: #00ccff;
}

.earth-damage {
    color: #d87341;

}

.air-damage {
    color: #00ffff;
}

.fire-damage {
    color: #ff6347;
}

.value-bold {
    font-weight: bold;
}
