<div class="infobulle" *ngIf="item" [style.left.px]="x" [style.top.px]="y">
  <div class="infobulle-header">
    <img [src]="item.imageUrl" [alt]="item.name" class="item-icon">
    <div>
      <h3>{{ item.name }}</h3>
      <p>Niveau {{ item.level }}</p>
    </div>
  </div>

  <!-- Affichage de la description -->
  <app-infobulle-description [description]="item.description"></app-infobulle-description>

  <div class="weapon-effects" *ngIf="item.weaponEffects && item.weaponEffects.length > 0">
    <h4>Effets d'arme</h4>
    <ul>
      <app-infobulle-characteristic-line *ngFor="let weaponEffect of item.weaponEffects"
                                         [characteristic]="weaponEffect">
      </app-infobulle-characteristic-line>
    </ul>
  </div>
  <!-- Affichage des caractéristiques classiques -->
  <div class="characteristics">
    <h4>Caractéristiques</h4>
    <ul>
      <app-infobulle-characteristic-line *ngFor="let charac of item.characteristics"
                                         [characteristic]="charac">
      </app-infobulle-characteristic-line>
    </ul>
  </div>

  <!-- Affichage des effets d'armes -->

  <!-- Affichage des conditions -->
  <app-infobulle-condition *ngIf="item.conditions" [conditions]="item.conditions">
  </app-infobulle-condition>
</div>
