<div class="infobulle" *ngIf="item" [style.left.px]="x" [style.top.px]="y">
  <div class="infobulle-header">
    <img [src]="item.imageUrl" [alt]="item.name" class="item-icon">
    <div>
      <h4>{{ item.name }}</h4>
      <p>Niveau {{ item.level }}</p>
    </div>
  </div>
  <div class="weapon-effects" *ngIf="item.weaponEffects && item.weaponEffects.length > 0">
    <h4>Effets d'arme</h4>
    <ul>
      <li *ngFor="let weaponEffect of item.weaponEffects">
        <app-infobulle-weapon-effect-line [weaponEffect]="weaponEffect"></app-infobulle-weapon-effect-line>
      </li>
    </ul>
  </div>

  <div class="characteristics" *ngIf="item.characteristics?.length">
    <h4>Caractéristiques</h4>
    <ul>
      <app-infobulle-characteristic-line *ngFor="let charac of item.characteristics"
                                         [characteristic]="charac">
      </app-infobulle-characteristic-line>
    </ul>
  </div>

  <app-infobulle-condition *ngIf="item.conditions" [conditions]="item.conditions">
  </app-infobulle-condition>
</div>
