<div class="infobulle" *ngIf="item" [style.left.px]="x" [style.top.px]="y">
  <div class="infobulle-header">
    <img [src]="item.imageUrl" [alt]="item.name" class="item-icon">
    <div>
      <h3>{{ item.name }}</h3>
      <p>Niveau {{ item.level }}</p>
    </div>
  </div>

  <app-infobulle-description [description]="item.description"></app-infobulle-description>
  <div class="effects" *ngIf="item.effects && item.effects.length > 0">
    <h4>Effets</h4>
    <ul>
      <app-infobulle-effect-line *ngFor="let effect of item.effects"
                                 [effect]="effect">
      </app-infobulle-effect-line>
    </ul>
  </div>
  <div class="characteristics">
    <h4>Caractéristiques</h4>
    <ul>
      <app-infobulle-characteristic-line *ngFor="let charac of item.characteristics"
                                         [characteristic]="charac">
      </app-infobulle-characteristic-line>
    </ul>
  </div>
    <app-infobulle-condition *ngIf="item.conditions" [conditions]="item.conditions">
    </app-infobulle-condition>
</div>
