.footer {
  border-top: 2px solid #444;
  background-color: #1c1e21;
}

.footer .container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-link {
  color: #adb5bd;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-link:first-child {
  margin-left: 0;
}

.footer-link:hover {
  color: #f8f9fa;
  text-decoration: underline;
}
