app-search-bar {
  display: block;
  margin-bottom: 16px;
}

.item-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.search-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
