app-search-bar {
  display: block;
}

.item-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: linear-gradient(180deg, #3b2f2f, #8b5e3b, #d2a679);
  padding-top: 20px;
  min-height: 700px;
}

.search-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
