:host {
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: auto;
  min-height: 100vh;
}

.page-content {
  background: linear-gradient(to bottom, #fdf5e6, #f4e4c1);
  border: 10px solid #9C6B3F;
  border-radius: 15px;
}
