.page-content {
  padding: 24px;
  min-height: calc(150vh - 120px);
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1; /* This ensures the content area takes up the available space */
  padding: 24px; /* Or adjust as necessary */
  overflow-y: auto; /* To allow scrolling inside the content area */
}
